<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
  </system.net>
  <appSettings>
    <add key="ErrorEmailTo" value="iqtools.merge.module@gmail.com" />
    <add key="ErrorEmailFrom" value="iqtools.merge.module@gmail.com" />
    <add key="ErrorEmailSubject" value="IQToolsLite Error Log" />
    <add key="IQToolsDB" value="iqtoolslite" />
    <add key="mainServerType" value="mssql" />
    <add key="ApiKey" value="" />    
  </appSettings>
  <connectionStrings>
    <add name="msSQLconnString" connectionString="Data Source=;User ID=sa;Password=" />
    <add name="mySQLconnString" connectionString="Server=localhost;Uid=admin;Pwd=;Allow Zero Datetime=True" />
  </connectionStrings>
 
  <system.web>    
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Windows" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>	
  <runtime>	
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">	
          <dependentAssembly>	
              <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />	
              <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />	
          </dependentAssembly>	
          <dependentAssembly>	
              <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
              <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
          </dependentAssembly>	
          <dependentAssembly>	
              <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />	
              <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />	
          </dependentAssembly>	
      </assemblyBinding>	
  </runtime>
</configuration>